<!doctype html>
<html>
    <head>
        <% include ./partials/header %>
    
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ./partials/navigations %>

        <div class="maincontainer">
            <div class="container">
                 <h1><%= headline %></h1>
                 <p><%= text %></p>
            </div>
        </div>


        <div style="width: 400px; margin-left: 5%; margin-top: 20px;"

            <h3 style="float:both; width: 25%;">Guten Tag, <%= user.email %></h3>      

            <div class="page-header text-center" style="width: 300px; height: 250px; background-color: lightgrey; margin-bottom: 50px; float:both;">
                <h1> <img src="/images/profile.png" title="Profil" style="height: 50px; width: 50px; margin-left: 20px; margin-right: 10px; margin-top: 10px;">Profilseite</h1>
                <hr/> 
                </br>
                
                <a href="/hund_eintragen">
                    <img src="/images/pencil.png" id="pencil"/>
                    <button style="background-color: green; margin-left: 1%; margin-bottom: 5%;float: left;" type"submit">         
                        Hund eintragen
                    </button>
                </a>
                <br/>
                
                </br></br>
                <hr/>
                <a href="/anmelden/logout" class="btn btn-default btn-sm" style="margin-left: 100px;"><img style="height: 30px; width: 30px; margin-right: 5px;" src="/images/logout.png"/>Logout</a>
              
            </div>
        </div>


        <div style="display: flex; ">
                <% dogs.forEach(function (dog) { %>
                    <div class="profile" style="width: 350px; float:left; margin-left: 5%; margin-bottom: 30px;">
                        <a href="/hund_loeschen/<%= dog.id %>">
                            <button style="background-color: red; margin-left: 5%; float: left;" type"submit">         
                                Hund löschen
                            </button>
                        </a>

                        <a href="/hund_bearbeiten/<%= dog.id %>">
                            <button style="background-color: orange; margin-left: 5%; float: left;" type"submit">         
                                Hund bearbeiten
                            </button>
                        </a>
                        <br/><br/><br/>
                        <% include ./partials/dogs_insert %>       
                    </div>


                <% }) %>
            </div>
        
    <!-- footer -->
    <% include ./partials/footer.ejs %>
    </body>
</html>